html,
body {
  margin: 0;
  font-size: 0;
  padding: 0;
}

.parallax {
  background: url(photo1.JPG) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.2);
}
.parallax2 {
  background: url(ParallaxPhoto2.JPG) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;

  filter: blur(10px);
  left: -15px;
  right: -15px;
  top: -15px;
  bottom: -15px;
}

.container {
  position: relative;

  height: 700px;
  overflow: hidden;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.big_text {
  position: relative;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 82px;
  display: block;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.about_us {
  width: 100%;
  height: 632px;
  background-color: #ffffff;
}

.gallery {
  width: 100%;
  height: 632px;
  background-color: #ffffff;
}

#gradionica {
  display: block;
  margin-left: 55%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
