html,
body {
  margin: 0;
  font-size: 0;
  padding: 0;
}
#navbar {
  width: 100%;
  height: 70px;
  background-color: #ff0000;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}
.parallax {
  background: url(TeamPhoto.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.2);
}
.parallax2 {
  background: url(ParallaxPhoto2.JPG) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;

  filter: blur(10px);
  left: -15px;
  right: -15px;
  top: -15px;
  bottom: -15px;
}

.container {
  position: relative;

  height: 700px;
  overflow: hidden;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.big_text {
  position: relative;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 82px;
  display: block;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.about_us {
  width: 100%;
  height: 632px;
  background-color: #ffffff;
}

#gradionica {
  display: block;
  margin-left: 55%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

nav {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

nav ul {
  margin-left: 81;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 34px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14;
  font-weight: bold;
  font-family: Open Sans;
}

.logo {
  float: left;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 208;
}
.message {
  width: 100%;
  font-size: 60;
  font-weight: 800;
  font-family: Open Sans;
  color: #ffffff;
  position: relative;
  text-align: center;
  top: 30%;
  transform: translateY(-50%);
}

.galleryTitle {
  font-size: 28;
  font-weight: 800;
  font-family: Open Sans;
  color: #333333;
  text-align: center;
  margin-top: 56;
  margin-bottom: 0;
  padding: 0;
}
.gallery {
  width: 100%;
  height: 632px;
  background-color: #ffffff;
}

.recent {
  font-family: Open Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 16;
  text-align: center;

  color: #8e8e8e;
}

.imgBox {
  width: 21.7391304348%;
  float: left;
  margin-top: 1%;
  margin-left: 1%;
  display: block;
  overflow: hidden;
}
 
.imgGallery{
  width: 100%;
  animation-name: out;
  animation-duration:0.5s;
  animation-iteration-count:1;

}
.imgGallery:hover{
  animation-name: in;
  animation-duration:0.25s;
  animation-iteration-count:1;
  transform: scale(1.3, 1.3);
    transition: 0.25s transform;

}
@keyframes in {
  from{transform: scale(1, 1);}
  to{
    transform: scale(1.3, 1.3);
    transition: 0.25s transform;}
}

@keyframes out{
  from{transform: scale(1.3, 1.3);
    transition: 10s transform;}
  to{
    transform: scale(1, 1);
    transition: 0.25s transform;}

}





.galleryPhotos {
  margin-left: 8%;
  width: 92%;
  margin-top: 3%;
}
